@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-Light.ttf");
    font-weight: 100;
}

@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-Medium.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'OpenSans';
    src: url("../fonts/OpenSans-Bold.ttf");
    font-weight: 700;
}